<% include  ./partials/header %>


<h1>Login Page</h1>
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login!">
</form>

<% include  ./partials/footer %>
